
@{
    ViewBag.Title = "Multiply";
}

<h2>Multiply</h2>

@*<input type="text" id="s1" />
<input type="text" id="s2" />

<input type="button" value="Multiply" onclick="apiHandler.Calc()" />

<script>
    var apiHandler{
        Calc: function () {
            var s1 = $("#s1").val();
            var s2 = $("#s2").val();


        }
    }
</script>*@