
@{
    ViewBag.Title = "BadState";
}

<h2>State does not exit within our database</h2>

<p>The state that you are trying to use does not exist within our database, to fix this, you can return to the customer list and re-enter your location with an 
    existing state, or you can go to the State add page to add your new state</p>

<a href="/Customer/AllCustomers/">Customer Page</a>
<a href="gamer"></a>

