@model List<Book_Project_Goss.Models.Product>
@{
    ViewBag.Title = "AllProducts";
}

<div class="Ultility">
    <h2 class="title">Purchasable Products</h2>

    <div class=" container">
        <div class="row thing">
            <div class="col-md-3">
                <input type="text" class="form-control search" id="searchBar" />
            </div>
            <div class="col-md-1">
                <button type="button" class="btn btn-info" onclick="sortable.Search()">Search</button>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-info" onclick="document.querySelector('#searchFilters').classList.toggle('hidden')">Filter Search</button>
            </div>
            <button type="button" class="btn btn-info add" onclick="apiHandler.GET('/Product/ProductUpsert/0')">Add New</button>
        </div>
    </div>

    <div id="searchFilters" class="hidden">
        <label>All:</label><input type="radio" name="filters" value="All" checked />
        <label>Code:</label><input type="radio" name="filters" value="Code" />
        <label>Description:</label><input type="radio" name="filters" value="Des" />
        <label>Unit Price:</label><input type="radio" name="filters" value="UnPrice" />
        <label>Quantity:</label><input type="radio" name="filters" value="Quant" />
    </div>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th onclick="sortable.sort(0)">Code</th>
            <th onclick="sortable.sort(1)">Description</th>
            <th onclick="sortable.sort(2)">Unit Price</th>
            <th onclick="sortable.sort(3)">On Hand</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var prod in Model)
        {
            <tr>
                <td>@prod.ProductCode</td>
                <td>@prod.Description</td>
                <td>@prod.UnitPrice.ToString("c")</td>
                <td>@prod.OnHandQuantity</td>
                <td><button type="button" class="btn btn-info" onclick="apiHandler.GET('/Product/ProductUpsert/@prod.ProductCode')">Add New</button>
                    <button type="button" class="btn btn-danger" onclick="apiHandler.GET('/Product/ProductDelete/@prod.ProductCode')">Delete</button></td>
            </tr>
        }
    </tbody>
</table>

<script>
    sortable.URL = '/Product/AllProducts/';
</script>

