@model Book_Project_Goss.Models.Product
@{
    ViewBag.Title = "ProductUpsert";
}

<div class="jumbotron">
    <h2 class="title">ProductUpsert</h2>

    <p>These are the products that are curently available for purchase within our company. New Products can be added or previous products can be updated with more relevant information if need be.
        Just make sure that a non-existing code is given to any new product that is added to our catelogue.</p>

    @using (Html.BeginForm("ProductUpsert", "Product", FormMethod.Post))
    {


        <div class="cust">
            <label id="prodCode">Code: </label>
            @Html.TextBoxFor(p => p.ProductCode, new { @class = "form-control upsertText", })
        </div>
        <div class="cust">
            <label id="prodDes">Description: </label>
            @Html.TextBoxFor(p => p.Description, new { @class = "form-control upsertText", })
        </div>
        <div class="cust">
            <label id="prodQuan">Quantity: </label>
            @Html.TextBoxFor(p => p.OnHandQuantity, new { @class = "form-control upsertText", type = "number" })
        </div>
        <div class="cust">
            <label id="prodUni">UnitPrice: </label>
            @Html.TextBoxFor(p => p.UnitPrice, new { @class = "form-control upsertText", type = "number", step = ".01" })
        </div>

        <button type="submit" class="btn btn-info" onclick="apiHandler.POST('/Product/ProductUpsert/@Model.ProductCode', @Model)">Confirm</button>

}
</div>